mixin menuSidebar(href, name)
	li(role='menuitem'): a(href=href, title=name)= name

ul(role='group')#listHTML
	+menuSidebar('html-input.html', 'input要素')
	+menuSidebar('html-fileDownload.html', 'ファイルダウンロード')
	+menuSidebar('html-omitHttp.html', '[Deprecated] httpの省略')
