mixin menuSidebar(href, name)
	li(role='menuitem'): a(href=href, title=name)= name

ul(role='group')#listJavaScript
	+menuSidebar('js-IndexedDBAPI.html', '[WIP] IndexedDB')
	+menuSidebar('js-localStorage.html', '[WIP] localStorage')
	+menuSidebar('js-Promise.html', '[WIP] Promise')
	+menuSidebar('js-FetchAPI.html', '[Ajax/WIP] Fetch API')
	+menuSidebar('js-XMLHttpRequest.html', '[Ajax/WIP] XMLHttpRequest')
