mixin menuSidebar(href, name)
	li(role='menuitem'): a(href=href, title=name)= name

ul(role='group')#listLanguage
	+menuSidebar('#', '[WIP] CSS')
	+menuSidebar('language-pug.html', 'Pug')
	+menuSidebar('language-sass.html', 'Sass')
	+menuSidebar('#', '[WIP] SCSS')
