@charset "UTF-8";

// 変数の定義(Global)
$black: #000000;
$LightGray: #D8D8D8;
$white: #FFFFFF;

// min-width
// レスポンシブのブレークポイントの設定を行います
// この指定はmin-screenで使用されます
$breakpoint-up: (
	"xs":		"only screen and (min-width: 576px)",
	"sm":		"only screen and (min-width: 768px)",
	"md":		"only screen and (min-width: 992px)",
	"lg":		"only screen and (min-width: 1200px)",
) !default;

// max-width
// レスポンシブのブレークポイントの設定を行います
// この指定はmax-screenで使用されます
$breakpoint-down: (
	"xs":		"only screen and (max-width: 576px)",
	"sm":		"only screen and (max-width: 768px)",
	"md":		"only screen and (max-width: 992px)",
	"lg":		"only screen and (max-width: 1200px)",
) !default;

// @mixinの定義
@mixin min-screen($breakpoint: md) {
	@media #{map-get($breakpoint-up, $breakpoint)} {
		@content;
	}
}

@mixin max-screen($breakpoint: md) {
	@media #{map-get($breakpoint-down, $breakpoint)} {
		@content;
	}
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * 共通項目
 *--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * ヘッダー
 *--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
	width: auto;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * コンテンツ
 *--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

article {
	width: auto;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * フッター
 *--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer {
	width: auto;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * レスポンシブの設定
 *--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
