@charset "UTF-8";

// Initialize
// Import
@import "_calc.scss";
// 変数の定義(Global)
$gradation-pattern: linear-gradient(to right, #000011, #1164FF, #FFFF99);
$width-list: (
	xs:	576,
	sm:	768,
	md:	992,
	lg:	1200,
	lx:	1400,
	hd: 1920,
) !default;

// min-width
// レスポンシブのブレークポイントの設定を行います
// この指定はmin-screenで使用されます
$breakpoint-up: (
	"xs":		"only screen and (min-width: 577px)",
	"sm":		"only screen and (min-width: 769px)",
	"md":		"only screen and (min-width: 993px)",
	"lg":		"only screen and (min-width: 1201px)",
	"lx":		"only screen and (min-width: 1441px)",
) !default;

// max-width
// レスポンシブのブレークポイントの設定を行います
// この指定はmax-screenで使用されます
$breakpoint-down: (
	"xs":		"only screen and (max-width: 576px)",
	"sm":		"only screen and (max-width: 768px)",
	"md":		"only screen and (max-width: 992px)",
	"lg":		"only screen and (max-width: 1200px)",
	"lx":		"only screen and (max-width: 1440px)",
) !default;

// @mixinの定義
@mixin min-screen($breakpoint: md) {
	@media #{map-get($breakpoint-up, $breakpoint)} {
		@content;
	}
}

@mixin max-screen($breakpoint: md) {
	@media #{map-get($breakpoint-down, $breakpoint)} {
		@content;
	}
}

/// Viewport Widthの演算
@function calc-viewport($value: 1000, $breakpoint: md) {
	@return round-decimal(($value / map-get($width-list, $breakpoint)) * 100, 3) + vw;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * 共通項目
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

* {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

body {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-family: "メイリオ", "Meiryo", sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #000011;

	@include max-screen(md) {
		display: flex;
		flex-direction: column;
		justify-content: unset;
		align-items: unset;
	}

	@media print {
		color: #000000;
	}

	 > header {
		@media print {
			display: none;
		}
	}

	 > input {
		&[type="checkbox"] {
			display: none;

			&.panel-switch {
				&:not(:checked) {
					 + nav {
						@include max-screen(md) {
							// display: none;
							overflow: hidden;
							height: 0;
							padding: 0;
							border-width: 0;
						}
					}
				}
			}
		}
	}

	 > .content {
		display: block;
		width: calc(100% - 240px);
		margin-left: 240px;

		@include max-screen(md) {
			width: 100%;
			margin-left: 0;
		}

		@media print {
			width: 100%;
			margin-left: 0;
		}
	}
}

a {
	transition: all 0.5s ease-out;
	text-decoration: none;
	color: #9999FF;

	&:hover {
		color: #FFCC66;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

dl {
	dd {
		margin-left: 2em;
	}
}

ul {
	list-style: none;

	li {
		&:not(:first-child) {
			margin-top: 5px;
		}
	}

	ul {
		margin-left: 2em;
	}
}

ol {
	margin-left: 2em;

	li {
		&:not(:first-child) {
			margin-top: 5px;
		}
	}
}

// クラス設定
.md {
	&-hide {
		@include max-screen(md) {
			display: none;
		}
	}

	&-show {
		@include min-screen(md) {
			display: none;
		}
	}
}

.mintyo {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

// ベンダー固有情報
::-webkit-scrollbar {
	width: 10px;
	height: 10px;

	&-track {
		// border-radius: 10px;
		background-color: transparent;
		// box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	}

	&-thumb {
		transition: all 0.1s ease;
		border-radius: 10px;
		background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
	}
}

// アニメーション設定
@keyframes flashString {
	0% {
		color: #FFFFFF;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}

	90% {
		color: #FFFFFF;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}

	95% {
		color: #FFFF66;
		text-shadow: 0 0 10px #FFFF66;
	}

	100% {
		color: #FFFFFF;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * Prism Overwrite
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

code, pre {
	&[class*="language-"] {
		margin: 10px 0;
		tab-size: 4;
		font-family: "Migu 1M", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
		line-height: 1.2;

		@include max-screen(xs) {
			max-height: 80vh;
		}

		-webkit-overflow-scrolling: touch;
		@media print {
			// color: #000000;
		}

		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
	}
}

.line-highlight {
	@media print {
		display: none;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * サイドバー
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

// @keyframes openList {
// 	from {
// 		display: hidden;
// 		transform: translateY(-400px);
// 	}

// 	to {
// 		display: block;
// 		transform: translateY(0);
// 		height: 100%;
// 	}
// }

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: scroll;
	box-sizing: border-box;
	width: 240px;
	min-width: 240px;
	height: 100vh;
	min-height: 100vh;
	padding: 10px 0 2em;
	border-width: 0;
	border-style: solid;
	border-right-width: 3px;
	border-image: linear-gradient(to bottom, #000011, #1164FF) 1/0 3px 0 0/0 stretch;

	@include max-screen(md) {
		position: static;
		width: 100%;
		height: auto;
		min-height: unset;
		margin-bottom: 20px;
		padding-left: 2px;
		transition: all 0.5s ease-out;
		border-bottom-width: 3px;
		border-left-width: 3px;
		border-image: linear-gradient(to bottom, #000011, #1164FF) 1/0 3px 5px/0 stretch;
	}

	@media print {
		display: none;
	}

	 > ul {
		$menu-margin: 10px;

		@include max-screen(md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0 5px;
			padding-bottom: 10px;
		}

		 > li {
			margin-top: 15px;

			@include max-screen(md) {
				margin-top: 10px;
			}
			@include max-screen(sm) {
				margin-top: 5px;
			}

			h3 {
				display: flex;
				align-items: center;
				padding-top: 3px;
				padding-left: $menu-margin;
				animation: flashString 10s linear infinite;
				font-size: 18px;
				border-width: 0;
				border-style: solid;
				border-top-width: 3px;
				border-image: linear-gradient(to right, #000011, #1164FF, #FFFF66) 1/3px 0 0/0 stretch;

				@include max-screen(md) {
					padding-left: 0;
				}

				a {
					display: inline-flex;
					align-items: center;
					animation: flashString 10s linear infinite;
				}
			}

			input {
				&[type="checkbox"] {
					display: none;

					&.panel-switch {
						&:not(:checked) {
							 + ul {
								// display: none;
								overflow: hidden;
								height: 0;
								padding: 0;
								border-width: 0;
							}
						}
					}
				}
			}

			ul {
				margin-left: calc(1em + #{$menu-margin + 2px});
				padding-right: 2px;
				transition: all 0.5s ease-out;
				// animation: openList 0.2s linear all;
				text-indent: -1em;

				@include max-screen(md) {
					margin-left: calc(1em + 2px);
				}

				li {
					transition: all 0.5s ease-out;
					&:before {
						content: "├";
						transition: all 0.5s ease-out;
						animation: flashString 10s linear infinite;
					}

					&:last-child {
						&:before {
							content: "└";
							transition: all 0.5s ease-out;
							animation: flashString 10s linear infinite;
						}
					}
				}// End of li
			}// End of ul
		}// End of li
	}// End of ul

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;

		&-track {
			border-radius: 10px;
			background-image: linear-gradient(to bottom, #000011, #1164FF);
		}

		&-thumb {
			border-radius: 10px;
			background-image: linear-gradient(to bottom right, #CCCCCC, #888888);
			// box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
		}
	}
}

.nav-button {
	display: flex;
	justify-content: space-evenly;

	@supports (-ms-ime-align:auto) {
		justify-content: space-around;
	}

	@supports (-webkit-text-size-adjust:none) and (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
		justify-content: space-around;
	}

	button {
		width: 100px;
		height: 24px;
		font-size: 12px;
		color: #FFFFFF;
		border: none;
		border-radius: 5px;
		background-color: #1164FF;
	}
}

.expand-box {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	margin: auto 5px auto 0;
	cursor: pointer;
	font-size: 12px;
	border: 1px #FFFFFF solid;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * ヘッダー
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 3px;
	border-width: 0;
	border-style: solid;
	border-bottom-width: 5px;
	border-image: $gradation-pattern 1/0 0 5px/0 stretch;

	h1 {
		padding-left: 1em;
		font-size: 36px;

		@include max-screen(sm) {
			font-size: 4.7vw;
		}
	}

	label {
		display: none;

		@include max-screen(md) {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 160px;
			height: 32px;
			margin-right: 5px;
			margin-bottom: 5px;
			border-radius: 10px;
			background-color: #1164FF;
		}
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * コンテンツ
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

section {
	margin-top: 10px;

	&:first-child {
		margin-top: 5px;
	}

	&:not(:first-child) {
		padding-top: 5px;
		border-width: 0;
		border-style: solid;
		border-top-width: 2px;
		border-image: $gradation-pattern 1/2px 0 0/0 stretch;
	}

	h2, h3, h4, h5, h6, p {
		padding: 0 10px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		margin-top: 5px;
		font-size: 18px;
	}

	h4 {
		margin-top: 5px;
		font-size: 14px;
	}

	ul {
		margin-left: 36px;
		list-style: disc;

		li {
			padding-right: 10px;
		}
	}

	dl {
		padding-left: 1em;

		dd {
			ul {
				li {
					&:first-child {
						margin-top: 5px;
					}

					&:last-child {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}

.object {
	&-safe {
		color: #33FF33;
	}

	&-euclid {
		color: #FFFF33;
	}

	&-keter {
		color: #FF3333;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * フッター
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 0;
	border-style: solid;
	border-top-width: 5px;
	border-bottom-width: 15px;
	border-image: $gradation-pattern 1/5px 0 15px/0 stretch;

	@include max-screen(sm) {
		flex-direction: column-reverse;
	}

	p {
		@include max-screen(sm) {
			box-sizing: border-box;
			width: 100%;
		}

		&:first-child {
			a {
				padding: 0 0 0 10px;
				animation: flashString 10s linear infinite;
				text-decoration: line-through;
				color: #FFFFFF;

				@media print {
					animation: unset;
					color: #000000;
				}
			}

			b {
				font-weight: 900;
			}
		}

		&:last-child {
			margin-left: 2em;
			text-align: right;
			white-space: nowrap;

			@include max-screen(sm) {
				margin-bottom: 15px;
				margin-left: 0;
			}
			@include max-screen(xs) {
				white-space: normal;
			}
		}
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * レスポンシブの設定
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */
