extends ./_includes/_layout
block title
	- var title = 'フェードイン';
	title #{title} - HTML Technical Manual
block headSpace
	style(type='text/css').
		.area {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}

		@supports (-ms-ime-align:auto) {
			.area {
				justify-content: space-around;
			}
		}

		@supports (-webkit-text-size-adjust:none) and (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
			.area {
				justify-content: space-around;
			}
		}

		.area .anim {
			width: 30vw;
			max-width: 250px;
			height: 30vw;
			max-height: 250px;
			margin-bottom: 15px;
			background:  #0E2EBB no-repeat top/auto 100%;
		}

		.anim {
			opacity: 0;
			transition: all 1s ease;
			transform: translateY(100px);
		}

		.anim.show {
			opacity: 1;
			transform: none;
		}

		.anim.box-1 {
			background-image: url(img/sander-wehkamp-779070.jpg);
		}

		.anim.box-2 {
			background-image: url(img/andrea-cau-51160.jpg);
		}

		.anim.box-3 {
			background-image: url(img/denys-nevozhai-154974.jpg);
		}

		.anim.box-4 {
			background-image: url(img/astemir-almov-265122.jpg);
		}

		.anim.box-5 {
			background-image: url(img/denys-nevozhai-100695.jpg);
		}

		.anim.box-6 {
			background-image: url(img/ben-neale-297658.jpg);
		}

		.anim.box-7 {
			background-image: url(img/denys-nevozhai-351730.jpg);
		}

		.anim.box-8 {
			background-image: url(img/john-westrock-777794.jpg);
		}

		.anim.box-9 {
			background-image: url(img/kelsey-johnsen-727.jpg);
		}

		.anim.box-10 {
			background-image: url(img/ray-hennessy-253874.jpg);
		}

		.anim.box-11 {
			background-image: url(img/scott-ruzzene-355988.jpg);
		}

		.anim.box-12 {
			background-image: url(img/mark-solarski-209233.jpg);
		}

		.anim.box-13 {
			background-image: url(img/shubhankar-sharma-51901.jpg);
		}

		.anim.box-14 {
			background-image: url(img/tyler-van-der-hoeven-357415.jpg);
		}

		.anim.box-15 {
			background-image: url(img/robert-lukeman-150146.jpg);
		}

		.anim.box-16 {
			background-image: url(img/markus-spiske-357131.jpg);
		}

block headTitle
	h1 #{title}

block content
	section
		h2 説明
		p 下から上へのコンテンツフェードインが要求されることが多いためその一例を記述する。

	section
		h2 使用方法と解説

		h3 CSS
		pre.language-css.line-numbers: code.
			.area {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
			}

			@supports (-ms-ime-align: auto) {
				.area {
					justify-content: space-around;
				}
			}

			@supports (-webkit-text-size-adjust: none) and (-webkit-marquee-repetition: infinite) and (object-fit: fill) {
				.area {
					justify-content: space-around;
				}
			}

			.area .anim {
				width: 30vw;
				max-width: 250px;
				height: 30vw;
				max-height: 250px;
				margin-bottom: 15px;
				background:  #0E2EBB no-repeat top/auto 100%;
			}

			.anim {
				opacity: 0;
				transition: all 1s ease;
				transform: translateY(100px);
			}

			.anim.show {
				opacity: 1;
				transform: none;
			}
		p
			code.language-css: span.token.property justify-content
			| にspace-evenlyが使用されているが、未対応端末が多いため、その対処も忘れないように。

		h3 HTML
		pre.language-html.line-numbers: code.
			&lt;div class="area"&gt;
				&lt;div class="anim box-1"&gt;要素1&lt;/div&gt;
				&lt;div class="anim box-2"&gt;要素2&lt;/div&gt;
				&lt;div class="anim box-3"&gt;要素3&lt;/div&gt;
				&lt;div class="anim box-4"&gt;要素4&lt;/div&gt;
				&lt;div class="anim box-5"&gt;要素5&lt;/div&gt;
				&lt;div class="anim box-6"&gt;要素6&lt;/div&gt;
				&lt;div class="anim box-7"&gt;要素7&lt;/div&gt;
				&lt;div class="anim box-8"&gt;要素8&lt;/div&gt;
				&lt;div class="anim box-9"&gt;要素9&lt;/div&gt;
				&lt;div class="anim box-10"&gt;要素10&lt;/div&gt;
				&lt;div class="anim box-11"&gt;要素11&lt;/div&gt;
				&lt;div class="anim box-12"&gt;要素12&lt;/div&gt;
				&lt;div class="anim box-13"&gt;要素13&lt;/div&gt;
				&lt;div class="anim box-14"&gt;要素14&lt;/div&gt;
				&lt;div class="anim box-15"&gt;要素15&lt;/div&gt;
				&lt;div class="anim box-16"&gt;要素16&lt;/div&gt;
			&lt;/div&gt;
		p
			| boxナンバリングは単純に背景画像を指定するためのものであるため省略する。

		h3 JavaScript
		pre.language-javascript.line-numbers: code.
			window.addEventListener('DOMContentLoaded', function() {
				window.onscroll = function () {
					let myFade = document.getElementsByClassName('anim');
					for(var i = 0; i < myFade.length; i++) {
						let targetElement = myFade[i].getBoundingClientRect(); //ターゲット要素の高さ
						let scroll = document.documentElement.scrollTop || document.body.scrollTop; //スクロール
						let windowHeight = window.innerHeight; //ウィンドウの高さ
						if (scroll > scroll + targetElement.top - windowHeight + 200) {
							myFade[i].classList.add('show');
						}
					}
				}
			}, false);
		p
			| 執筆者はjQuery撲滅派なのでjQueryを利用した記述方法はないと考えて良い。

		h3 実行結果
		.area
			.anim.box-1 要素1
			.anim.box-2 要素2
			.anim.box-3 要素3
			.anim.box-4 要素4
			.anim.box-5 要素5
			.anim.box-6 要素6
			.anim.box-7 要素7
			.anim.box-8 要素8
			.anim.box-9 要素9
			.anim.box-10 要素10
			.anim.box-11 要素11
			.anim.box-12 要素12
			.anim.box-13 要素13
			.anim.box-14 要素14
			.anim.box-15 要素15
			.anim.box-16 要素16

	//- section
	//- 	h2 使用上の注意
	//- 	ul
	//- 		li HTML文字の間に改行やタブ等があると不自然な隙間が発生するのでできるだけ文字を詰めることを推奨する。
	//- 		li classを利用して有効なタグを指定することもできる。

	//- section
	//- 	h2 参考リンク
	//- 	p
	//- 		a(href='https://www.msng.info/archives/2013/03/turning-off-html-br-with-css.php', target='_blank') HTML の br タグを CSS だけで消す方法 - 頭ん中

block jsContent
	script.
		window.addEventListener('DOMContentLoaded', function() {
			window.onscroll = function () {
				let myFade = document.getElementsByClassName('anim');
				for(var i = 0; i < myFade.length; i++) {
					let targetElement = myFade[i].getBoundingClientRect(); //ターゲット要素の高さ
					let scroll = document.documentElement.scrollTop || document.body.scrollTop; //スクロール
					let windowHeight = window.innerHeight; //ウィンドウの高さ
					if (scroll > scroll + targetElement.top - windowHeight + 200) {
						myFade[i].classList.add('show');
					}
				}
			}
		}, false);
