extends ./_includes/_layout
block title
	- var title = 'Fetch API';
	title #{title} - HTML Technical Manual
block headTitle
	h1 #{title}
block content
	section.stub
		h2 書きかけのページ
		p このページの内容は書きかけです。不定期なタイミングで記述内容が追加、変更されることがあります。
