extends ./_includes/_layout
block title
	- var title = 'localStorage';
	title #{title} - HTML Technical Manual
block headTitle
	h1 #{title}
block content
	section.stub
		h2 書きかけのページ
		p このページの内容は書きかけです。不定期なタイミングで記述内容が追加、変更されることがあります。

	section
		h2 説明
		p
			| HTMLで一時的なデータを保存する方法は主にCookieが主流だがサイトのデータを一時的なデータを保存する方法の一つとしてローカルストレージという機能があるのでそれについて説明する。

	section
		h2 ローカルストレージのデータを確認する方法
		p ブラウザ毎に説明する。

		h3 Google Chrome
		p
			| ページを右クリックして検証、もしくはF12キーからDevToolsを開く。
			br
			| メニュー上部のタブからApplicationを選択するとLocal Storageの項目があるので展開して確認する。

		h3 Firefox
		p
			| ページを右クリックして要素を調査、もしくはF12キーから開発ツールを開く。
			br
			| メニュー上部のタブからストレージを選択するとローカルストレージの項目があるので展開して確認する。

		h3 Microsoft Edge
		p
			| ページを右クリックして要素を調査、もしくはF12キーから開発ツールを開く。
			br
			| メニュー上部のタブからデバッガーを選択するとローカルストレージの項目があるので展開して確認する。
