extends ./_includes/_layout
block title
	- var title = 'ランダムワード集';
	title #{title} - HTML Technical Manual
block headTitle
	h1 #{title}
block preloader
	link(rel='modulepreload', href='js/WorkerTask.min.js')

block append headSpace
	style(type='text/css').
		#randomOutput h3, #randomOutput h4 {
			font-family: "メイリオ", "Meiryo", sans-serif;
			font-weight: 400;
			border-left: 0;
		}

		#randomOutput h4 {
			margin: 0;
			margin-bottom: 1rem;
			padding: 0;
		}

		#randomOutput p {
			padding: 0;
			line-height: 1.4;
		}

		#randomOutput p:nth-child(1n+2) {
			margin-top: 1rem;
		}

		#randomOutput dl {
			padding: 0;
		}

		#randomOutput dt:not(:first-child) {
			border-width: 3px 0 0;
			border-style: solid;
			-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF66)) 1/3px 0 0/0 stretch;
			-webkit-border-image: -webkit-linear-gradient(left, #000011, #1164FF, #FFFF66) 1/3px 0 0/0 stretch;
			-o-border-image: -o-linear-gradient(left, #000011, #1164FF, #FFFF66) 1/3px 0 0/0 stretch;
			border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF66)) 1/3px 0 0/0 stretch;
			border-image: linear-gradient(90deg, #000011, #1164FF, #FFFF66) 1/3px 0 0/0 stretch;
		}

		#randomOutput dt h3 {
			margin-left: 0;
			padding: 0 0 0 10px;
		}

		#randomOutput dt h4 {
			padding: 0 0 0 10px;
			font-size: 0.75rem;
		}

		#randomOutput dd h3 {
			margin: 0;
			padding: 0;
		}

		#randomOutput .boxTag {
			display: flex;
			justify-content: flex-end;
			margin-top: 2.5rem;
		}

		#randomOutput .tagList {
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			box-sizing: border-box;
			max-width: 70%;
			margin: 0;
			padding-right: 10px;
			list-style: none;
			font-size: 0.75rem;
			border-top: 1px #FFFFFF solid;
		}

		#randomOutput .tagList li {
			margin: 0 0 0 10px;
			padding-right: 0;
		}

		#randomOutput .tagList li a {
			cursor: pointer
		}

		@media only screen and (max-width: 768px) {
			#randomOutput .tagList {
				max-width: 90%;
			}
		}

block content
	section
		h2 ランダムワード集

	section#randomOutput
		p このページはJavaScriptで出力しています。JavaScriptが有効ではない、もしくはバージョンの古いブラウザの場合、このページは利用できません。予めご了承ください。
