@charset "UTF-8";

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * 共通項目
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

* {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	font-family: "メイリオ","Meiryo",sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #000011;
}

body > input[type="checkbox"] {
	display: none;
}

body > .content {
	display: block;
	width: calc(100% - 240px);
	margin-left: 240px;
}

a {
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	text-decoration: none;
	color: #9999FF;
}

a:hover {
	color: #FFCC66;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "游ゴシック体","Yu Gothic","YuGothic","ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","Osaka","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

dl dd {
	margin-left: 2em;
}

ul {
	list-style: none;
}

ul li:not(:first-child) {
	margin-top: 5px;
}

ul ul, ol {
	margin-left: 2em;
}

ol li:not(:first-child) {
	margin-top: 5px;
}

.mintyo {
	font-family: "游明朝",YuMincho,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	-webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	border-radius: 10px;
	background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.25)));
	background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
	-webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

@-webkit-keyframes flashString {
	0% {
		color: #FFFFFF;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}

	90% {
		color: #FFFFFF;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}

	95% {
		color: #FFFF66;
		text-shadow: 0 0 10px #FFFF66;
	}

	100% {
		color: #FFFFFF;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}
}

@keyframes flashString {
	0% {
		color: #FFFFFF;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}

	90% {
		color: #FFFFFF;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}

	95% {
		color: #FFFF66;
		text-shadow: 0 0 10px #FFFF66;
	}

	100% {
		color: #FFFFFF;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * Prism Overwrite
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

code[class*="language-"], pre[class*="language-"] {
	margin: 10px 0;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: "Migu 1M",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
	line-height: 1.2;

	-webkit-overflow-scrolling: touch;
}

code[class*="language-"]::-webkit-scrollbar, pre[class*="language-"]::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * サイドバー
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 240px;
	min-width: 240px;
	height: 100vh;
	min-height: 100vh;
	padding: 10px 0 2em;
	border-width: 0 3px 0 0;
	border-style: solid;
	-webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#000011), to(#1164FF)) 1/0 3px 0 0/0 stretch;
	-webkit-border-image: -webkit-linear-gradient(top, #000011, #1164FF) 1/0 3px 0 0/0 stretch;
	-o-border-image: -o-linear-gradient(top, #000011, #1164FF) 1/0 3px 0 0/0 stretch;
	border-image: -webkit-gradient(linear, left top, left bottom, from(#000011), to(#1164FF)) 1/0 3px 0 0/0 stretch;
	border-image: linear-gradient(180deg, #000011, #1164FF) 1/0 3px 0 0/0 stretch;
}

.sidebar > ul > li {
	margin-top: 15px;
}

.sidebar > ul > li h3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 3px;
	padding-left: 10px;
	-webkit-animation: flashString 10s linear infinite;
	animation: flashString 10s linear infinite;
	font-size: 18px;
	border-width: 3px 0 0;
	border-style: solid;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF66)) 1/3px 0 0/0 stretch;
	-webkit-border-image: -webkit-linear-gradient(left, #000011, #1164FF, #FFFF66) 1/3px 0 0/0 stretch;
	-o-border-image: -o-linear-gradient(left, #000011, #1164FF, #FFFF66) 1/3px 0 0/0 stretch;
	border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF66)) 1/3px 0 0/0 stretch;
	border-image: linear-gradient(90deg, #000011, #1164FF, #FFFF66) 1/3px 0 0/0 stretch;
}

.sidebar > ul > li h3 a {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-animation: flashString 10s linear infinite;
	animation: flashString 10s linear infinite;
}

.sidebar > ul > li input[type="checkbox"] {
	display: none;
}

.sidebar > ul > li input[type="checkbox"].panel-switch:not(:checked) + ul {
	overflow: hidden;
	height: 0;
	padding: 0;
	border-width: 0;
}

.sidebar > ul > li ul {
	margin-left: calc(1em + 12px);
	padding-right: 2px;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	text-indent: -1em;
}

.sidebar > ul > li ul li {
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.sidebar > ul > li ul li:before {
	content: "├";
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-webkit-animation: flashString 10s linear infinite;
	animation: flashString 10s linear infinite;
}

.sidebar > ul > li ul li:last-child:before {
	content: "└";
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-webkit-animation: flashString 10s linear infinite;
	animation: flashString 10s linear infinite;
}

.sidebar::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.sidebar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000011), to(#1164FF));
	background-image: -webkit-linear-gradient(top, #000011, #1164FF);
	background-image: linear-gradient(180deg, #000011, #1164FF);
}

.sidebar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear, left top, right bottom, from(#CCCCCC), to(#888888));
	background-image: -webkit-linear-gradient(top left, #CCCCCC, #888888);
	background-image: linear-gradient(to bottom right, #CCCCCC, #888888);
}

.nav-button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-webkit-justify-content: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

@supports (-ms-ime-align: auto) {
	.nav-button {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}

@supports (-webkit-text-size-adjust: none) and (-webkit-marquee-repetition: infinite) and ((-o-object-fit: fill) or (object-fit: fill)) {
	.nav-button {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}

.nav-button button {
	width: 100px;
	height: 24px;
	font-size: 12px;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	background-color: #1164FF;
}

.expand-box {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	margin: auto 5px auto 0;
	cursor: pointer;
	font-size: 12px;
	border: 1px solid #FFFFFF;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * ヘッダー
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

.expand-box, header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

header {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 3px;
	border-width: 0 0 5px;
	border-style: solid;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF99)) 1/0 0 5px/0 stretch;
	-webkit-border-image: -webkit-linear-gradient(left, #000011, #1164FF, #FFFF99) 1/0 0 5px/0 stretch;
	-o-border-image: -o-linear-gradient(left, #000011, #1164FF, #FFFF99) 1/0 0 5px/0 stretch;
	border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF99)) 1/0 0 5px/0 stretch;
	border-image: linear-gradient(90deg, #000011, #1164FF, #FFFF99) 1/0 0 5px/0 stretch;
}

header h1 {
	padding-left: 1em;
	font-size: 36px;
}

header label {
	display: none;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * コンテンツ
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

section {
	margin-top: 10px;
}

section:first-child {
	margin-top: 5px;
}

section:not(:first-child) {
	padding-top: 5px;
	border-width: 2px 0 0;
	border-style: solid;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF99)) 1/2px 0 0/0 stretch;
	-webkit-border-image: -webkit-linear-gradient(left, #000011, #1164FF, #FFFF99) 1/2px 0 0/0 stretch;
	-o-border-image: -o-linear-gradient(left, #000011, #1164FF, #FFFF99) 1/2px 0 0/0 stretch;
	border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF99)) 1/2px 0 0/0 stretch;
	border-image: linear-gradient(90deg, #000011, #1164FF, #FFFF99) 1/2px 0 0/0 stretch;
}

section h2, section h3, section h4, section h5, section h6, section p {
	padding: 0 10px;
}

section h2 {
	font-size: 24px;
}

section h3 {
	margin-top: 5px;
	font-size: 18px;
}

section h4 {
	margin-top: 5px;
	font-size: 14px;
}

section ul {
	margin-left: 36px;
	list-style: disc;
}

section ul li {
	padding-right: 10px;
}

section dl {
	padding-left: 1em;
}

section dl dd ul li:first-child {
	margin-top: 5px;
}

section dl dd ul li:last-child {
	margin-bottom: 5px;
}

.object-safe {
	color: #33FF33;
}

.object-euclid {
	color: #FFFF33;
}

.object-keter {
	color: #FF3333;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * フッター
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 5px 0 15px;
	border-style: solid;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF99)) 1/5px 0 15px/0 stretch;
	-webkit-border-image: -webkit-linear-gradient(left, #000011, #1164FF, #FFFF99) 1/5px 0 15px/0 stretch;
	-o-border-image: -o-linear-gradient(left, #000011, #1164FF, #FFFF99) 1/5px 0 15px/0 stretch;
	border-image: -webkit-gradient(linear, left top, right top, from(#000011), color-stop(#1164FF), to(#FFFF99)) 1/5px 0 15px/0 stretch;
	border-image: linear-gradient(90deg, #000011, #1164FF, #FFFF99) 1/5px 0 15px/0 stretch;
}

footer p:first-child a {
	padding: 0 0 0 10px;
	-webkit-animation: flashString 10s linear infinite;
	animation: flashString 10s linear infinite;
	text-decoration: line-through;
	color: #FFFFFF;
}

footer p:first-child b {
	font-weight: 900;
}

footer p:last-child {
	margin-left: 2em;
	text-align: right;
	white-space: nowrap;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * レスポンシブの設定
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

@media only screen and (min-width: 993px) {
	.md-show {
		display: none;
	}
}

@media only screen and (max-width: 992px) {
	body {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: unset;
		-webkit-justify-content: unset;
		-ms-flex-pack: unset;
		justify-content: unset;
		-webkit-box-align: unset;
		-webkit-align-items: unset;
		-ms-flex-align: unset;
		align-items: unset;
	}

	body > input[type="checkbox"].panel-switch:not(:checked) + nav {
		overflow: hidden;
		height: 0;
		padding: 0;
		border-width: 0;
	}

	body > .content {
		width: 100%;
		margin-left: 0;
	}

	.md-hide {
		display: none;
	}

	.sidebar {
		position: static;
		width: 100%;
		height: auto;
		min-height: unset;
		margin-bottom: 20px;
		padding-left: 2px;
		-webkit-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		border-bottom-width: 3px;
		border-left-width: 3px;
		-webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#000011), to(#1164FF)) 1/0 3px 5px/0 stretch;
		-webkit-border-image: -webkit-linear-gradient(top, #000011, #1164FF) 1/0 3px 5px/0 stretch;
		-o-border-image: -o-linear-gradient(top, #000011, #1164FF) 1/0 3px 5px/0 stretch;
		border-image: -webkit-gradient(linear, left top, left bottom, from(#000011), to(#1164FF)) 1/0 3px 5px/0 stretch;
		border-image: linear-gradient(180deg, #000011, #1164FF) 1/0 3px 5px/0 stretch;
	}

	.sidebar > ul {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 5px 10px;
	}

	.sidebar > ul > li {
		margin-top: 10px;
	}

	.sidebar > ul > li h3 {
		padding-left: 0;
	}

	.sidebar > ul > li ul {
		margin-left: calc(1em + 2px);
	}

	header label {
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		width: 160px;
		height: 32px;
		margin-right: 5px;
		margin-bottom: 5px;
		border-radius: 10px;
		background-color: #1164FF;
	}
}

@media only screen and (max-width: 768px) {
	.sidebar > ul > li {
		margin-top: 5px;
	}

	header h1 {
		font-size: 4.7vw;
	}

	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	footer p {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
	}

	footer p:last-child {
		margin-bottom: 15px;
		margin-left: 0;
	}
}

@media only screen and (max-width: 576px) {
	code[class*="language-"], pre[class*="language-"] {
		max-height: 80vh;
	}

	footer p:last-child {
		white-space: normal;
	}
}

@media print {
	body {
		color: #000000;
	}

	body > header {
		display: none;
	}

	body > .content {
		width: 100%;
		margin-left: 0;
	}

	.line-highlight, .sidebar {
		display: none;
	}

	footer p:first-child a {
		-webkit-animation: unset;
		animation: unset;
		color: #000000;
	}
}

/*# sourceMappingURL=maps/style.css.map */
