mixin menuSidebar(href, name)
	li: a(href=href, title=name)= name

ul#listHTML
	+menuSidebar('html-input.html', 'input要素')
	+menuSidebar('#', '[WIP] ファイルダウンロード')
	+menuSidebar('html-omitHttp.html', '[Deprecated] httpの省略')
