mixin menuSidebar(href, name)
	li: a(href=href, title=name)= name

ul#listJavaScript
	+menuSidebar('#', '[WIP] Fetch API')
	+menuSidebar('#', '[WIP] Promise')
	+menuSidebar('#', '[WIP] XMLHttpRequest')
