mixin menuSidebar(href, name)
	li(role='menuitem'): a(href=href, title=name)= name

ul(role='group')#listMain
	+menuSidebar('index.html', 'TOP Page')
	+menuSidebar('scp-prismHighlight.html', 'Prismハイライトの例')
	+menuSidebar('scp-sample.html', 'サンプルデータ')
	+menuSidebar('scp-updateLog.html', '更新履歴')
	+menuSidebar('scp-randomWord.html', '???')
