mixin menuSidebar(href, name)
	li: a(href=href, title=name)= name

ul
	+menuSidebar('#', '[WIP] Node.js導入マニュアル')
	+menuSidebar('node-manualBrowsersync.html', 'Browsersync導入マニュアル')
	+menuSidebar('#', '[WIP] npm コマンド')
	+menuSidebar('#', '[Gulp/WIP] Gulp導入マニュアル')
