mixin menuSidebar(href, name)
	li(role='menuitem'): a(href=href, title=name)= name

ul(role='group')#listNode
	+menuSidebar('#', '[WIP] Node.js導入マニュアル')
	+menuSidebar('node-manualBrowsersync.html', 'Browsersync導入マニュアル')
	+menuSidebar('node-npm.html', 'npm コマンド')
	+menuSidebar('#', '[Gulp/WIP] Gulp導入マニュアル')
