mixin menuSidebar(href, name)
	li(role='menuitem'): a(href=href, title=name)= name

ul(role='group')#listOther
	+menuSidebar('other-editorConfig.html', 'EditorConfig')
	+menuSidebar('other-runPHPForHTML.html', '[Apache] HTMLファイルでPHPを動かす')
	+menuSidebar('#', '[Atom/WIP] Atom 導入マニュアル')
	+menuSidebar('#', '[Atom/WIP] apm Command')
	+menuSidebar('#', '[Unix/WIP] Console Command')
	+menuSidebar('#', '[XAMPP/WIP] ローカルネットワーク接続')
