h2 HTML Manual Menu

ul
	li
		h3
			a#linkMain.expand-box +
			a(href='#sideMain', title='Main') Main
		include _main
	li
		h3
			a#linkCSS.expand-box +
			a(href='#sideCSS', title='CSS') CSS
		include _css
	li
		h3
			a#linkHTML.expand-box +
			a(href='#sideHTML', title='HTML') HTML
		include _html
	li
		h3
			a#linkJavaScript.expand-box +
			a(href='#sideJavaScript', title='JavaScript') JavaScript
		include _js
	li
		h3
			a#linkLanguage.expand-box +
			a(href='#sideLanguage', title='Language') Language
		include _language
	li
		h3
			a#linkNode.expand-box +
			a(href='#sideNode', title='Node.js') Node.js
		include _node
	li
		h3
			a#linkPHP.expand-box +
			a(href='#sidePHP', title='PHP') PHP
		include _php
	li
		h3
			a#linkSQL.expand-box +
			a(href='#sideSQL', title='SQL') SQL
		include _sql
	li
		h3
			a#linkOther.expand-box +
			a(href='#sideOther', title='Other') Other
		include _other
