h2 HTML Manual Menu

ul
	li
		h3: a(href='index.html', title='TOP Page') TOP
		ul
			li: a(href='scp-updateLog.html', title='更新履歴') 更新履歴
			li: a(href='scp-sample.html', title='サンプルデータ') サンプルデータ
			li: a(href='scp-randomWord.html', title='ランダムデータマニア') ???
	li
		h3: a(href='#', title='CSS') CSS
		include _css
	li
		h3: a(href='#', title='HTML') HTML
		include _html
	li
		h3: a(href='#', title='Java Script') Java Script
		include _js
	li
		h3: a(href='#', title='Language') Language
		include _language
	li
		h3: a(href='#', title='Node.js') Node.js
		include _node
	li
		h3: a(href='#', title='PHP') PHP
		include _php
	li
		h3: a(href='#', title='SQL') SQL
		include _sql
	li
		h3: a(href='#', title='Other') Other
		include _other
