doctype html
html(lang='ja')
	head
		meta(charset='utf-8')
		block title
			title HTML Manual
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='theme-color' content='#000011')
		link(href='css/prism.min.css', rel='stylesheet', type='text/css')
		link(href='css/style.min.css', rel='stylesheet', type='text/css')
		block headSpace
	body
		header#top.md-show(role='banner')
			block headTitle
				include ./_header
			label(for='menuBtn') Menu
		input#menuBtn.panel-switch(type='checkbox')
		nav#menu.sidebar
			include ../_mixin/_sideList
		.content
			header.md-hide(role='banner')
				block headTitle
					include ./_header
			main(role='main')
				block content
			footer(role='contentinfo')
				include ./_footer
		script(type='application/javascript', src='js/prism.min.js')
		script(type='application/javascript', src='js/index.js')
		//- script(type='module', src='js/Main.js')
		//- script(type='application/javascript' nomodule src='js/nomodule/ajax-response.js')
		//- script(type='application/javascript' nomodule src='js/nomodule/Main.js')
		block jsContent
